.DropDownView__label {
    color: $material-grey-500;
    font-weight: 300;
    cursor: pointer;
    margin-left: 16px;
}
.DropDownView {
    display: inline-block;
    position: relative;
    margin: 0 16px 0 16px;
    cursor: pointer;
    line-height: 48px;
    outline: none;
    -webkit-tap-highlight-color: rgba(#000,0);
    background: none;
    text-align: left;

    svg.icon {
        fill: $material-grey-500;
        padding: 0;
        width: 16px;
        height: 16px;
    }

    &:hover,
    &:focus {
        svg.icon {
            fill: $material-blue-500;
        }
        .DropDownView__value {
            color: $material-blue-500;
        }
    }

    &:focus {
        .DropDownView__base {
            opacity: 1;
            transform: scaleY(1);
            transition: opacity 0.2s ease,
                        transform 0.1s ease-in-out;
        }
        .DropDownView__list {
            opacity: 1;
            transition: opacity 0.14s 0.1s ease;
        }
    }
}
.DropDownView__base {
    position: absolute;
    left: -8px;
    top: 0;
    width: 120px;
    max-height: 240px;
    overflow: auto;
    background: $material-white;
    box-shadow: 0 2px 5px rgba(#000,0.4);
    border-top: 1px solid $material-grey-200;
    z-index: $z-popup;
    opacity: 0.5;
    transform: scaleY(0);
    transform-origin: top left;
    transition: opacity 0.24s 0.2s ease,
                transform 0.3s 0.2s ease-in-out;
}
.DropDownView__value {
    color: $material-black;
}
.DropDownView__list {
    opacity: 0;
    transition: opacity 0.2s ease;
}
.DropDownView__item {
    display: block;
    color: $material-grey-600;
    padding: 0 16px;

    &:hover {
        background: $material-grey-100;
    }
    &.is-selected {
        color: $material-blue-500;
    }
}
.DropDownView__spacer {
    position: relative;
    border-top: 1px solid $material-grey-200;
}
