@import "./MaterialColor.scss";
@import "./Metrics.scss";
@import "./reset.scss";
@import "./flex.scss";

html, body {
    position: relative;
    width: 100%;
    height: 100%;
}
body {
    position: relative;
    color: $material-grey-800;
    font-family: 'Roboto', Arial;
    font-size: $fontsize-normal;
    line-height: 1.2em;
    user-select: none;
}
a[target='spa'] {
    text-decoration: none;
    color: inherit;

    &:visited {
        color: inherit;
    }
}
svg {
    position: relative;
    width: 24px;
    height: 24px;
}
@media (max-width: $w-small) {
    .no-sp {
        display: none !important;
    }
}
