*[layout] {
    display: flex;

    >* {
        flex-shrink: 0;
        flex-grow: 0;
    }
}
*[row] {
    flex-direction: row;
}
*[column] {
    flex-direction: column;
}
*[flex] {
    flex-grow: 1;
    flex-shrink: 1;
}
*[center] {
    align-items: center;
    justify-content: center;
}
